$pc_min_width: 560px;
$wide_width: 900px;

$pc_card_width: 80px;
$pc_card_height: 120px;

$sp_card_width: 54px;
$sp_card_height: 80px;

// see /src/constants.yml
$img_dir: '/img/';

// Color
$color_blinder: #0006;
$color_blinder_hard: #0008;

$color_black: #000;
$color_white: #fff;
$color_main: #46925b;
$color_strong: #364354;
$color_accent: #f2ff6b;
$color_border: #aaa;
$color_positive: #bcf;
$color_negative: #f50;
