body {
  background-image: url(/img/bg/bg_green.png);
  background-position: center;
  background-size: cover;
}

.Card {
  width: 70px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  @for $i from 0 through 54 {
    &__ID#{$i} {
      background-image: url(/img/cards/card#{$i}.png)
    }
  }
  &--reversed {
    background-image: url(/img/cards/card_red.png)
  }
}

.PlayerCardArea__ID1, .PlayerCardArea__ID3 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-right: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 300px;
}

.PlayerCardArea__ID2, .PlayerCardArea__ID4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 35%;
  max-width: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.PlayerCardArea__ID1 {
  bottom: 0;
}

.PlayerCardArea__ID2 {
  left: 0;
  flex-direction: column;
  .Card {
    transform:rotate(90deg);
  }
}

.PlayerCardArea__ID3 {
  top: 0;
}

.PlayerCardArea__ID4 {
  right: 12%;
  flex-direction: column-reverse;
  .Card {
    transform:rotate(-90deg);
  }
}

.deck {
  position: absolute;
  top: 40%;
  left: 40%;
}

.field {
  position: absolute;
  top: 40%;
  left: 55%;
}


.Sleeve {
  height: 100px;
}
