.p-Home {
  &__pointer {
    position: fixed;
    width: 48px;
    height: 48px;
    margin: auto;
    top: 56%;
    left: 0;
    right: 0;
    animation: wobble-vertical .6s ease 0s infinite;
  }

  &__startText {
    position: fixed;
    margin: auto;
    text-align: center;
    color: $color_main;
    top: 74%;
    left: 0;
    right: 0;
    font-size: 16px;
    animation:blink 1.4s ease-in-out infinite alternate;
  }

  &__title {
    position: fixed;
    margin: auto;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 42px;
    color:  $color_main;
    font-weight: bold;
  }

  &__difficultyBtn {
    margin-left: auto;
    text-align: center;
    padding-right: 4px;
    width: 48px;
    height: 48px;
    background-color: $color_strong;
    border-radius: 100% 0 0 100%;
    color: $color_red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-left: 1px solid $color_accent;
    border-top: 1px solid $color_accent;
    border-bottom: 1px solid $color_accent;
    box-shadow: 1px 1px $color_border;
    &__Icon {
      width: 20px;
      margin: 0 auto;
    }
    &__Text {
      font-size: 8px;
    }
  }
}