.p-Loading {
  width: 100%;
  height: 100%;
  position: fixed;
  &__icon {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 60px;
    position: fixed;
    img {
      width: 100%;
      height: 100%;
    }
  }
}