.p-Profile {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    padding-top: 12px;
    font-size: 16px;
  }
  &__list {
    overflow-y: scroll;
    margin-top: 8px;
    padding: 0 8px;
    border: 1px solid;
    font-size: 12px;
    border-radius: 2px;
  }
  &__item {
    margin: 8px 0;
  }
}
