.game {
  z-index: 2;
}

.window {
  flex: 1;
  background-color: $color_strong;
  margin: 8px 16px 16px;
  opacity: .9;
  border-radius: 4px;
  border: solid 2px $color_accent;
  box-shadow: 2px 2px #88888844;
  padding: 8px;
  color: #fff;

  &__Title {
    text-align: center;
    font-size: 24px;
    letter-spacing: 4px;
  }
}

img {
  width: 100%;
}
