.p-StartView {
  &__Head {
    display: flex;
    justify-content: space-around;
    margin: 16px 0 8px;
    border-bottom: 1px solid $color_white;

    &__Item {
      text-align: center;
      color: $color_positive;
      font-size: 11px;

      h4 {
        color: $color_white;
      }
      p {
        padding: 4px 0;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  &__Body {
    flex: 1;
  }
}
